.grid-card{
    display: grid;
    grid-template-rows: max-content 5vw;
    
    align-content: space-around;
}

.grid-top-container {
    display: grid;

    justify-content: center;
}

.grid-contrainer{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    column-gap: 2vw;
    row-gap: 1.5vw;

    justify-content: center;

    margin-top: 2vw;
}
.grid-item {
    display: grid;

    width:20vw;
    height: 33vw;

    justify-content: center;

    border-radius: 1vw;
    background-color: rgb(224, 224, 224);
}
.grid-button{
    margin-top: 2vw;
}
.img{
    object-fit: cover;
    width:15vw;
    height: 25vw;

    margin-top: -2vw;

    border-radius: 2vw;
}

.cakeLabel{
    margin-top: 2vw;

    font-size: 1.5vw;
}

#Button-edit {
    padding: 1vw;
    border-radius: 0.2vw;

    background-color: rgb(43, 255, 0);

    border: unset;

    margin-right: 1vw;

    user-select: none;

    text-decoration: none;

    color: black;
}

#Button-delete {
    padding: 1vw;
    border-radius: 0.2vw;

    background-color: red;

    margin-right: 6vw;

    border: unset;

    user-select: none;

    text-decoration: none;

    color: black;
}

#Button-add {
    padding: 1vw;
    border-radius: 0.2vw;

    background-color: blue;

    margin-top: 2vw;

    width: fit-content;

    border: unset;

    user-select: none;

    text-decoration: none;

    color: white;
}

.Button-buy{
    padding: 1vw;
    border-radius: 0.2vw;

    background-color:   orange;

    margin-top: 2vw;

    justify-self: end;

    width: fit-content;

    border: unset;

    user-select: none;

    text-decoration: none;

    color: white; 
}

/* div * {
    background-color: rgba(0, 0, 0, 0.2);
} */
