.narbar{
    display: flex;
    /* border: 1px solid black; */
    background-color: rgb(58, 58, 58);
    color: white;
  }
  
  .logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    /* border: 1px solid red; */
  }
  
   ul{
    width: 100%;
    display: flex;
    justify-content:left;
    align-items: center;
    /* border: 1px solid red; */
    list-style: none;
  }
  
  ul a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 2rem; 
  }
  
  ol{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid red; */
    list-style: none;
  }
  
  ol a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 2rem; 
  }
  h1 a{
    text-decoration: none;
    color: #ffffff;
  }
                                      /*header*/