.grid-contrainer{
    display: grid;
    grid-template-columns: 10fr 10fr 10fr 10fr ;
    background-color: #ffffff;
    padding: 5rem;
    justify-content: space-around;
}
.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    
    font-size: 20px;
    text-align: center;
}
#shop-img{
    width: 6cm;
    height: 7cm;
}
