.grid-contrainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #ffffff;
    padding: 10rem;
    justify-content: space-around;
}
.grid-item{
    background-color: rgba(145, 8, 8, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 9rem;
    font-size: 20px;
    text-align: center;

}
